/* General CSS Blocks Start */
.text-center {
	text-align: center;
}
.header-line {
	border-top: 1px solid #dfe3e8;
    margin-bottom: 20px;
    margin-top: -20px;
}
/* General CSS Blocks End */

/* Products Listing Page CSS Blocks Start */
#page-products-listings .search-input {
	width: 100%;
}
#page-products-listings .Polaris-ResourceList__Title+.Polaris-ResourceList__Description:before{
    content: ": ";
}
.keyboard-container {
	position: relative;
	width: 100%;
    display: block;
}
.keyboard-container.cursor , .sp-cursor{
	cursor: pointer;
}
.keyboard-container .Polaris-KeyboardKey {
	position: absolute;
	top: 18px;
    right: 4px;
    margin-top: -13px;
    z-index: 20;
    display: inline-block;
}
.dv_parent_btns_holder{
	display: block;
}
.dv_parent_btns_holder .Polaris-Button:first-child{
	margin-right: 10px;
}
/* Products Listing Page CSS Blocks End */

/* Order Listing Page CSS Blocks Start */
.Polaris-Tabs__Panel {
	margin-top: 30px;
    padding: 0 15px;
}
.orders-list-page .btn-style-home button {
	padding: 0rem 1rem;
}
.orders-list-page .btn-style-home button .Polaris-Button__Content img {
	width: 17px;
    height: auto;
    vertical-align: middle;
}
.table {
    display: table;
    width: 100%;
	border-collapse: collapse;
}
.table .table-thead {
    display: table-header-group;
}
.table .table-thead .table-row {
	display: table-row;
	border-bottom: .1rem solid #c4cdd5;
}
.table .table-thead:first-child .table-row:first-child {
	border-bottom-width: .2rem;
}
.table.no-dark-border .table-thead:first-child .table-row:first-child {
	border-bottom-width: .1rem;
}
.table .table-thead .table-row:last-child {
	border-bottom-width: 0;
}
.table .table-thead .table-row .table-cell {
	display: table-cell;
    vertical-align: middle;
	padding-top: 1rem;
    padding-bottom: 1rem;
	padding-right: 0.5rem;
    padding-left: 0.5rem;
}
.table .table-thead .table-row .table-cell.w96px {
	width: 96px;
}
.table .table-thead .table-row .table-cell .Polaris-Icon__Svg {
	z-index: 1;
}
.text-right{
	text-align: right;
}
.adj-parent{
	margin-top: 10px;
	font-size: 16px;
}
.adj-parent .adj-items{
	margin-bottom: 5px;
}
.adj-parent .adj-items.mk-bld{
	font-weight: bold;
}
/* Order Listing Page CSS Blocks End */

/* Order Fulfill Model Start */
.order-info-parent{
	display: flex;
    flex-direction: row;
}
.order-info-parent .order-info-child:first-child{
	flex-basis: 50%;
}
.fulfill-button-dv > div{
	display: inline-block;
}
.fulfill-button-dv .Polaris-TextField{
	margin-right: 8px;
}
.fulfill-button-dv .Polaris-TextField .Polaris-TextField__Input{
	width: 25px;
}
/* Order Fulfill Model End */

.checkout-other-apps a {
    border: 1px solid #e8e8e8;
    margin-right: 15px;
    display: inline-block;
    box-shadow: 0px 0px 5px 0px #2d76ad;
    height: auto;
    padding: 0;
    line-height: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}
.tags .Polaris-Tag {
	margin-right: 5px;
	margin-bottom: 3px;
    margin-top: 2px;
}
.add-new-product-btn {
	float: right;
	width: 40%;
	text-align: right;
}
.search-input {
	width: 100%;
	float: left;
	position: relative;
}
.cb {
	clear: both;
	display: block;
}
.learn-more-container {
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex;
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	fill: #007ace;
}
.learn-more-container.two {
	fill: #637381;
}
.learn-more-container .learn-more {
	width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
}

.Polaris-ResourceList {
	margin-top: 10px;
}
.Polaris-ResourceList .Polaris-ResourceList__Container {
	pointer-events: all;
}
.pull-left {
	float: left;
}
.warning-level {
	vertical-align: middle;
    line-height: 36px;
    margin-right: 10px;
}
.for-btn+.Polaris-Button {
	float: left;
    margin-left: 5px;
}
.mr5px{
	margin-right: 5px;
}
.loader-white-active, .loader-sky-active {
	visibility: hidden;
    position: relative;
}
.app-main-class .Polaris-Page .Polaris-Page__Header {
	padding-top: 2.2rem;
    padding-bottom: 0;
}
.hide-page-header .Polaris-Page .Polaris-Page__Header {
	display: none;
}
@-webkit-keyframes loading-spinner{
	from{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	to{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@-moz-keyframes loading-spinner{
	from{
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	to{
		-moz-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@-o-keyframes loading-spinner{
	from{
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	to{
		-o-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@-ms-keyframes loading-spinner{
	from{
		-ms-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	to{
		-ms-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@keyframes loading-spinner{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}
}
.loader-white-active:before {
	content: '...';
    position: absolute;
    top:50%;
    left:50%;
    width:16px;
    height:16px;
    margin-top:-8px;
    margin-left:-8px;
    visibility: visible;
	z-index: 1;
	background-image:url("https://cdn.shopify.com/s/files/1/0028/5288/0449/files/loader-white.svg?3763563346335749222");
    -webkit-animation: loading-spinner 0.7s linear infinite;
	-moz-animation: loading-spinner 0.7s linear infinite;
	-o-animation: loading-spinner 0.7s linear infinite;
	-ms-animation: loading-spinner 0.7s linear infinite;
    animation: loading-spinner 0.7s linear infinite;
    content: ' ';
}
.loader-sky-active:before {
	content: '...';
    position: absolute;
    top:50%;
    left:50%;
    width:16px;
    height:16px;
    margin-top:-8px;
    margin-left:-8px;
    visibility: visible;
	z-index: 1;
	background-image:url("https://cdn.shopify.com/s/files/1/0028/5288/0449/files/loader-sky.svg?3763563346335749222");
    -webkit-animation: loading-spinner 0.7s linear infinite;
	-moz-animation: loading-spinner 0.7s linear infinite;
	-o-animation: loading-spinner 0.7s linear infinite;
	-ms-animation: loading-spinner 0.7s linear infinite;
    animation: loading-spinner 0.7s linear infinite;
    content: ' ';
}
.search-loader {
	position: absolute;
    z-index: 10;
    top: 50%;
    right: 8px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
}
.Polaris-Connected__Item {
	z-index: 21;
}

.is_number {
	right: 22px;
}
#inventory-root .search-input, #manage-inventory .search-input {
	width: 100%;
}
#manage-inventory .Polaris-ResourceList__Title+.Polaris-ResourceList__Description:before, .advanced-settings .Polaris-ResourceList__Title+.Polaris-ResourceList__Description:before{
    content: ": ";
}
.search-input input {
	background: url('https://cdn.shopify.com/s/files/1/0028/5288/0449/files/search.svg?3763563346335749222') no-repeat left center;
	background-size: 16px;
	padding-left: 26px;
}
.app-main-class .regular-grid .Polaris-ResourceList {
	max-height: 573px;
    overflow: auto;
}
.app-main-class .specific-grid .Polaris-ResourceList {
	max-height: 396px;
    overflow: auto;
}
.Polaris-Pagination, .load-more-btn {
	margin-top: 20px;
    display: block;
    text-align: center;
}
.Polaris-EmptyState {
	border: 0;
}
.Polaris-EmptyState .Polaris-EmptyState__Details {
	width: auto;
}
/* Notify Me Widget Start */
.adjust-empty-container .Polaris-EmptyState, .addons .Polaris-EmptyState {
	margin-top: 0;
}
.adjust-empty-container .Polaris-EmptyState .Polaris-EmptyState__Image {
    width: 100%;
    margin-left: 0%;
}
/* Notify Me Widget End */
.mt2rem {
	margin-top: 2rem;
}
/* Progress Bar Start */
.review-here {
	margin: 2rem 0;
	text-align: center;
}
.review-here .Polaris-Banner__Ribbon {
	display: none;
}
.review-here .Polaris-Banner__Ribbon+div {
	width: 100%;
}
.review-here .Polaris-Banner__Actions {
    clear: both;
}
.review-here .Polaris-Banner__Actions .Polaris-ButtonGroup {
	display: -o-inline-box;
	display: -ms-inline-box;
	display: -moz-inline-box;
	display: -webkit-inline-box;
	display: inline-flex;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
  margin: 5px 0 15px;
  clear: both;
  float: left;
}

#myBar {
  height: 30px;
  background: #6371c7;
  background: linear-gradient(to bottom, #6371c7, #5563c1);
  text-align: center;
  line-height: 30px;
  color: white;
}
#myBar.w80per {
	width: 80%;
}
#myBar.w100per {
	width: 100%;
}
.skip-preview {
	margin-left: 20px;
	cursor: pointer;
	color: #31708f;
}
.w100perb {
	width: 100%;
	display: inline-block;
}
/* Progress Bar End */
/*PLAN PAGE CSS START*/
.main-plan-boxes{
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	margin-right: 1.8rem;
    width: 22%;
    margin-top: 1.8rem;
	background-color: #ffffff;
    -webkit-box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    border: 0;
}
.main-plan-boxes .Polaris-Card {
	background-color: #ffffff;
    -webkit-box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
    border: 0;
}
.main-plan-box-header{
	background-color: #4959bd;
    padding-bottom: 15px;
    color: #fff;
}
.plan-page .main-plan-boxes .Polaris-Card .Polaris-Card__Header{
	background-color: #4959bd;
    padding-bottom: 15px;
	color: #637381;
    border-radius: 3px 3px 0 0;
    background-color: #f9fafb;
    border-bottom: 1px solid #dfe4e8;
}
.plan-page .main-plan-boxes .Polaris-Card .Polaris-Card__Header.most-popular{
	color: #fff;
    background-color: #4959bd;
    border-color: #4959bd;
}
.plan-page .main-plan-boxes .Polaris-Card .Polaris-Card__Header.most-popular .Polaris-Heading{
	margin-top: -11px;
}
.plan-page .main-plan-boxes .Polaris-Card .Polaris-Card__Header.most-popular .most-popular-text{
	display: block;
    font-size: 1.3rem;
    line-height: 1.3em;
    margin-top: 2px;
    margin-bottom: -11px;
    border-top: 1px dashed #ffffff;
    width: 87px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
}
.plan-page .main-plan-boxes .Polaris-Card .Polaris-Card__Header h2{
	font-size: 20px;
}
.plan-page .main-plan-boxes .Polaris-Card .price-per-month {
    padding: 15px 0;
}
.plan-page .main-plan-boxes .Polaris-Card .price-per-month strong {
    display: block;
    font-size: 22px;
}
.price-per-month strong {
    margin-bottom: 10px;
}
.price-per-month small{
	font-weight: normal;
}
.plan-page .main-plan-boxes .Polaris-Card .price-per-month span {
	display: block;
    color: #637381;
}
.plan-page .for-stores {
    color: #637381;
    font-size: 18px;
    padding: 15px 0;
}
.plan-page .main-plan-boxes .Polaris-Card .select-btn {
    padding: 15px 0;
}
.plan-page .main-plan-boxes .Polaris-Card .last-state {
    color: #637381;
    padding: 15px 0;
}
.mb20px{
	margin-bottom: 20px;
}
.Polaris-Layout__Annotation .Polaris-TextContainer p {
    color: #647482;
}
.strike-org{
	text-decoration: line-through;
	margin-bottom: 10px;
}

/* New Style Start */
.overflow-auto {
	overflow: auto;
}
.plan-page .pricing-table {
	padding: 0;
	margin: 0;
	width: 100%;
}
.plan-page .pricing-table tr th {
	border: 0;
	border-bottom: 1px solid #DFE3E8;
	padding: 12px 0;
	text-align: center;
	min-width: 100px;
	vertical-align: top;
}
.plan-page .pricing-table tr td {
	border: 0;
	border-bottom: 1px solid #DFE3E8;
	padding: 25px 0;
	text-align: center;
	min-width: 130px;
}
.plan-page .pricing-table tbody tr:last-child td {
	border: 0;
	vertical-align: top;
}
.plan-page .pricing-table tr th:first-child, .plan-page .pricing-table tr td:first-child {
	text-align: left;
	padding-left: 20px;
	min-width: 150px;
}
.plan-page .pricing-table tr td .feature-title {
	font-size: 16px;
	font-weight: bold;
	color: #212B36;
	letter-spacing: 0;
	line-height: 24px;
	border-bottom: 1px dotted #CBCBCB;
	cursor: pointer;
}
.plan-page .pricing-table tr th .Polaris-DisplayText {
	margin-bottom: 8px;
}
.plan-page .pricing-table tr th .Polaris-TextStyle--variationSubdued {
	font-weight: normal;
}
.plan-page .pricing-table tbody tr:first-child td:nth-child(2) {
	font-size: 15px;
}
.plan-page .pricing-table tbody tr:first-child td:nth-child(3) {
	font-size: 16px;
}
.plan-page .pricing-table tbody tr:first-child td:nth-child(4) {
	font-size: 17px;
}
.plan-page .pricing-table tbody tr:first-child td:nth-child(5) {
	font-size: 18px;
}
.plan-page .pricing-table tbody tr:first-child td:nth-child(6) {
	font-size: 19px;
}
.plan-page .pricing-table tbody tr:first-child td:nth-child(7) {
	font-size: 20px;
}
.plan-page .pricing-table .pricing-plan-checked svg {
	width: 18px;
	height: 18px;
}
/* New Style End */
/*PLAN PAGE CSS END*/

/* FOOTER PAGE CSS START */
.footer-page .checkout-other-apps a{
	max-width: 30%;
}
.footer-page .checkout-other-apps a:last-child{
	margin-right: 0;
}
.footer-page .checkout-other-apps a img{
	max-width: 100%;
}
@media only screen and (max-width: 830px) {
    .footer-page .checkout-other-apps a{
		max-width: 100%;
		margin-right: 0;
	}
	.footer-page .checkout-other-apps a img{
		max-width: 100%;
	}
}
/* FOOTER PAGE CSS END */

/*BM NOTIFY POPUP CSS START*/
.nt-modal {
    display: block;
    opacity: 1;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.nt-modal .Polaris-ButtonGroup, .nt-modal .Polaris-ButtonGroup--segmented {
	float: right;
}
.nt-modal.dn{
	display: none !important;
}
.nt-modal .modal-content {
	margin: auto;
    width: 500px;
    max-width: 100%;
	margin-top: 25px;
}
.nt-modal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
	font-weight: bold;
	position: relative;
	top: -9px;
}
.nt-modal .close:hover,
.nt-modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.nt-modal p{
	margin-bottom: 0;
}
.nt-modal .success{
	color: green;
}
.nt-modal .error{
	color: red;
}
.nt-modal .error.dn{
	display: none !important;
}
.nt-modal .main-form .main-clm{
	width: 100%;
    display: flex;
    clear: both;
    margin-bottom: 10px;
}
.nt-modal .main-form .main-clm.dn{
	display: none !important;
}
.nt-modal .main-form .left-clm{
	float: left;
	width: 40%;
}
.nt-modal .main-form .right-clm{
	float: right;
	width: 60%;
}
.nt-modal .main-form .bottom-buttons{
	float: left;
	width: 100%;
}
.nt-modal .main-form .bottom-buttons button{
	margin: 5px;
}
.nt-modal .main-form .mb16px{
	margin-bottom: 16px;
}
/*BM NOTIFY POPUP CSS END*/
/* Offline Chat Start */
.dn {
	display: none;
}
.offline-chat-widget {
	max-width: 256px;
    width: 100%;
    position: fixed;
    right: 12px;
    bottom: 0px;
    z-index: 100000000000;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    border-radius: 6px 6px 0 0;
}
.offline-chat-widget.w316px {
	max-width: 316px;
}
.offline-chat-widget .offline-chat-header {
    background-color: #5563c1;
    color: #fff;
    padding: 10px;
    border-radius: 6px 6px 0 0;
    font-size: 17px;
    line-height: 1.3em;
	cursor: pointer;
}
.offline-chat-widget.w316px .offline-chat-header {
	font-size: 20px;
}
.offline-chat-widget .offline-chat-body {
	background-color: #fff;
	font-size: 15px;
}
.offline-chat-widget .offline-chat-body .offline-chat-inner-body {
	padding: 10px 10px 20px;
}
a.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
a.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
a.btn-success {
    font-size: 20px;
    background: linear-gradient(to bottom, #6371c7, #5563c1);
    border-color: #3f4eae;
    color: #ffffff;
    box-shadow: inset 0 1px 0 0 #6f7bcb;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
a.btn-success:hover {
    background: linear-gradient(to bottom, #5c6ac4, #4959bd);
    border-color: #3f4eae;
    color: #ffffff;
}
a.btn.btn-success.offline-chat-inner-body-btn {
	border-radius: 0;
	width: 100%;
	display: block;
	font-size: 17px;
	color: #fff;
}
/* Offline Chat End */
.strike-org{
	text-decoration: line-through;
	margin-bottom: 10px;
}
.price-per-month strong {
	margin-bottom: 10px;
}
.price-per-month small {
	font-weight: normal;
}
.mail-sending-counter{
	text-align: center;
	border-bottom: 1px solid #dfe3e8;
    margin-bottom: 20px;
}
.a-analytics{
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}
h1.nm-um {
	text-align: center;
    font-size: 24px;
    margin-top: 50px;
}
.Polaris-Checkbox__Icon {
	transition: transform 0.1s cubic-bezier(0.36, 0, 1, 1);
	transition: -webkit-transform 0.1s cubic-bezier(0.36, 0, 1, 1);
	transition: transform 0.1s cubic-bezier(0.36, 0, 1, 1), -webkit-transform 0.1s cubic-bezier(0.36, 0, 1, 1);
}
.Polaris-Checkbox__Input:checked ~ .Polaris-Checkbox__Icon { 
	-ms-transform: translate(-50%, -50%) scale(1);
	-o-transform: translate(-50%, -50%) scale(1);
	-moz-transform: translate(-50%, -50%) scale(1);
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
}
.Polaris-Checkbox__Input:active + .Polaris-Checkbox__Backdrop, .Polaris-Checkbox__Input:checked + .Polaris-Checkbox__Backdrop, .Polaris-Checkbox__Input:focus + .Polaris-Checkbox__Backdrop {
	background: rgb(92, 106, 196);
}
/* For Customers Start */
.app-customers .header-line {
	margin-top: -10px;
}
.one_line {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: 20px;
}
.one_line.mb0px {
	margin-bottom: 0;
}
.one_line label {
	margin-right: 3rem;
}
.one_line.extra_right label {
	margin-right: 10rem;
}
.one_line.extra_right.rgt_9_2 label {
	margin-right: 9.2rem;
}
.one_line.extra_right.rgt_9_9 label {
	margin-right: 9.9rem;
}
.overflow-auto, .overflow-auto .Polaris-Card__Section {
	overflow: auto;
}
.overflow-auto .Polaris-Card__Section .dpl5px {
	padding-left: 5px;
}
/* Color Picker Start */
.color-picker {
	position: absolute;
	top: 36px;
    left: 0;
	z-index: 1000;
}
.chrome-picker {
	font-family: inherit !important;
	box-shadow: none !important;
}
.overflow-none .color-picker .Polaris-Card .Polaris-Card__Section {
	padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.overflow-none .Polaris-Card {
	overflow: visible;
}
.overflow-none .Polaris-Connected__Item--connection:first-child .Polaris-ColorPicker__HuePicker {
	border-radius: 8rem !important;
}
.overflow-none .Polaris-Connected__Item--connection:first-child .flexbox-fix div {
    border-radius: 50% !important;
}
.overflow-none .Polaris-Connected__Item--connection:first-child .saturation-white .saturation-black+div div {
	border-radius: 50% !important;
}
.overflow-none .show {
	display: inline-block;
}
.overflow-none .hide {
	display: none;
}
.overflow-none .Polaris-FormLayout .Polaris-FormLayout--condensed:first-child .Polaris-Connected {
	z-index: 1000;
}
.Polaris-Page .Polaris-Layout .Polaris-Layout__AnnotatedSection:nth-child(2) .overflow-none .Polaris-FormLayout > div:nth-child(4){
	z-index: 1005;
	position: relative;
}
.Polaris-Page .Polaris-Layout .Polaris-Layout__AnnotatedSection:nth-child(2) .overflow-none .Polaris-FormLayout > div:nth-child(5){
	z-index: 1004;
	position: relative;
}
.Polaris-Page .Polaris-Layout .Polaris-Layout__AnnotatedSection:nth-child(3) .overflow-none .Polaris-FormLayout > div:nth-child(3){
	z-index: 1003;
	position: relative;
}
.Polaris-Page .Polaris-Layout .Polaris-Layout__AnnotatedSection:nth-child(3) .overflow-none .Polaris-FormLayout > div:nth-child(4){
	z-index: 1002;
	position: relative;
}
/* Color Picker End */

/* Subscription Button Style Start */
.nm-btn-container {
	position: fixed;
	cursor: pointer;
	transform-origin: left bottom;
	white-space: nowrap;
	z-index: 999998;
	-webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.nm-btn-container.nm-left {
	left: 0;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left bottom;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left bottom;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left bottom;
    -o-transform: rotate(90deg);
    -o-transform-origin: left bottom;
    transform: rotate(90deg);
}
.nm-btn-container.nm-right {
	right: 0;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: 100% 100%;
    -ms-transform: rotate(270deg);
    -ms-transform-origin: 100% 100%;
    -o-transform: rotate(270deg);
    -o-transform-origin: 100% 100%;
    transform: rotate(270deg);
}
.nm-btn-container.nm-bottom-left, .nm-btn-container.nm-bottom-right {
	bottom: 0;
}
.nm-btn-container .nm-btn {
	padding: 0.7em 1.3em;
	border-style: solid;
}
/* Subscription Button Style End */
/* Subscription Form Style Start */
.nm-form-container {
	width: 100%;
	height: 100%;
	display: block;
}
.nm-form-container .nm-form-overlay {
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 999998;
}
.nm-form-container .nm-form-body {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 400px;
	max-width: 95%;
	border-radius: 5px;
    padding: 3rem;
	z-index: 999999;
	-webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.nm-form-container .nm-form-body .nm-select, .nm-form-container .nm-form-body .nm-input {
	margin-bottom: 15px;
}
.nm-form-container .nm-form-body .nm-select select, .nm-form-container .nm-form-body .nm-input input {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-size: 15px;
    height: 46px;
    padding: 10px 16px;
    line-height: 1.3333333;
}
.nm-form-container .nm-form-body .nm-button button {
	display: inline-block;
    padding: 8px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 100%;
    line-height: 24px;
    font-size: 15px;
    padding: 14px;
    line-height: 1.3333333;
}
.nm-form-container .nm-form-body .nm-form-close {
	width: 12px;
    height: 12px;
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 5px;
}
.nm-form-container .nm-form-body .nm-form-close svg {
	stroke: #484848;
    width: 12px;
    height: 12px;
    display: block;
}
/* Subscription Form Style End */

/* Customers Listing Start */
.app-customers-list .search-bar {
	padding-bottom: 2rem;
}
.app-customers-list .search-input {
	width: 100%;
	float: none;
}
.app-customers-list .search-input input {
	background: url('https://cdn.shopify.com/s/files/1/0028/5288/0449/files/search.svg?3763563346335749222') no-repeat left center;
	background-size: 20px;
    padding-left: 26px;
}
.app-customers-list .table {
	overflow: auto;
}
.app-customers-list .table table {
    width: 100%;
    border-collapse: separate;
	border-spacing: 0;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.app-customers-list .table table th {
	white-space: nowrap;
}
.app-customers-list .table table th, .app-customers-list .table table td {
	padding: 16px;
	border-bottom: 1px solid #d3dbe2;
	text-align: left;
	color: #212b35;
    font-weight: 500;
}
.app-customers-list .table table th:first-of-type, .app-customers-list .table table td:first-of-type {
    padding-left: 20px;
}
.app-customers-list .table table td {
	border: none;
}
.app-customers-list .table table tbody tr:nth-child(odd) {
	background: #fafbfc;
}
.app-customers-list .table table tbody tr:nth-child(even) {
	background: #ffffff;
}
.app-customers-list .pagination-center {
	display: block;
    width: 100%;
    text-align: center;
}
.wh20px {
	width: 20px;
    height: 20px;
    vertical-align: middle;
}
.tac {
	text-align: center !important;
}
/* Customers Listing End */

/* Inventory Tracking Css Start */
.adj-inv-track-stng{
	margin-top: 10px;
}
/* .app-main-class .Polaris-Layout .Polaris-Layout__AnnotatedSection:nth-child(4){
	margin-top: 10px;
}
.adj-inv-track-cls.app-main-class .Polaris-Layout .Polaris-Layout__AnnotatedSection:nth-child(4){
	margin-top: 10px;
	padding-top: 0;
    border-top: none;
} */
/* Inventory Tracking Css End */

/* RELEASE NOTES START */
.release-notes {
	position: fixed;
    top: 15px;
	left: 15px;
	z-index: 999999999;
}
.release-notes .release-count {
	background-color: #007ace;
    color: #fff;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: block;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px #3f4eae;
}
.release-notes .release-count.no-new {
	width: 10px;
    height: 10px;
}
@-o-keyframes blinker {
	50% {
		box-shadow: 0px 0px 10px 1.5px #3f4eae;
	}
}
@-ms-keyframes blinker {
	50% {
		box-shadow: 0px 0px 10px 1.5px #3f4eae;
	}
}
@-moz-keyframes blinker {
	50% {
		box-shadow: 0px 0px 10px 1.5px #3f4eae;
	}
}
@-webkit-keyframes blinker {
	50% {
		box-shadow: 0px 0px 10px 1.5px #3f4eae;
	}
}
@keyframes blinker {
	50% {
		box-shadow: 0px 0px 10px 1.5px #3f4eae;
	}
}
.release-notes .release-count {
	-o-animation: blinker 1.5s linear infinite;
	-ms-animation: blinker 1.5s linear infinite;
	-moz-animation: blinker 1.5s linear infinite;
	-webkit-animation: blinker 1.5s linear infinite;
	animation: blinker 1.5s linear infinite;
}
.release-notes .release-details {
    max-width: 100%;
    width: auto;
	height: auto;
	max-height: 350px;
	overflow: auto;
	margin-top: 2px;
}
.release-notes .release-details .Polaris-ResourceList__AttributeThree {
    margin-left: auto;
}
.release-notes .Polaris-ResourceList {
	margin-top: 10px;
}
.release-notes a:not([data-polaris-unstyled]) {
	color: #212b36;
}
#supplier_detail_popup .main-form{
	margin-top: -80px;
}
.display_dsk{
	display: block !important;
}
.display_mbl{
	display: none !important;
}
@media only screen and (max-width: 768px) {
	.release-notes {
		left: auto;
		right: 20px;
		top: 20px;
	}
	.release-notes .release-count {
		margin-left: auto;
	}
	.display_dsk{
		display: none !important;
	}
	.display_mbl{
		display: block !important;
	}
}
/* RELEASE NOTES END */

/* For Customers End */
@media only screen and (max-width: 1024px) {
	.add-new-product-btn {
		float: right;
		width: 100%;
		text-align: right;
		margin-top: 10px;
	}
	.search-input {
		width: 100%;
	}
	.main-plan-boxes{
		width: 100%;
		margin-right: 1.1rem;
		margin-left: 2.8rem;
	}
}
@media only screen and (max-width: 743px) {
	.header-line {
		margin-top: -10px;
	}
	.mail-sending-counter {
		margin-bottom: 0;
	}
	.overflow-auto .Polaris-Card__Section .dpl5px {
		padding-left: 0;
	}
	.overflow-auto .Polaris-Card__Section .mpl5px {
		padding-left: 5px;
	}
}
@media only screen and (max-width: 489px) {
	.header-line {
		display: none;
	}
}