.text-center {
	text-align: center;
}
.Polaris-Page {
	max-width: 150rem;
}
.checkout-other-apps a {
    border: 1px solid #e8e8e8;
    margin-right: 15px;
    display: inline-block;
    box-shadow: 0px 0px 5px 0px #2d76ad;
    height: auto;
    padding: 0;
    line-height: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}
.tags .Polaris-Tag {
	margin-right: 5px;
	margin-bottom: 3px;
    margin-top: 2px;
}
.add-new-product-btn {
	float: right;
	width: 40%;
	text-align: right;
}
.search-input {
	width: 60%;
	float: left;
}
.cb {
	clear: both;
	display: block;
}
.Polaris-ResourceList {
	margin-top: 10px;
}
.Polaris-ResourceList .Polaris-ResourceList__Container {
	pointer-events: all;
}
.pull-left {
	float: left;
}
.warning-level {
	vertical-align: middle;
    line-height: 36px;
    margin-right: 10px;
}
.for-btn+.Polaris-Button {
	float: left;
    margin-left: 5px;
}
@media only screen and (max-width: 500px) {
	.add-new-product-btn {
		float: right;
		width: 100%;
		text-align: right;
		margin-top: 10px;
	}
	.search-input {
		width: 100%;
	}
}