.text-center {
	text-align: center;
}
.Polaris-Page {
	max-width: 150rem;
}
.checkout-other-apps a {
    border: 1px solid #e8e8e8;
    margin-right: 15px;
    display: inline-block;
    box-shadow: 0px 0px 5px 0px #2d76ad;
    height: auto;
    padding: 0;
    line-height: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}
.tags .Polaris-Tag {
	margin-right: 5px;
	margin-bottom: 3px;
    margin-top: 2px;
}
.add-new-product-btn {
	float: right;
	width: 40%;
	text-align: right;
}
.search-input {
	width: 60%;
	float: left;
	position: relative;
}
.cb {
	clear: both;
	display: block;
}
.Polaris-ResourceList {
	margin-top: 10px;
}
.Polaris-ResourceList .Polaris-ResourceList__Container {
	pointer-events: all;
}
.pull-left {
	float: left;
}
.warning-level {
	vertical-align: middle;
    line-height: 36px;
    margin-right: 10px;
}
.for-btn+.Polaris-Button {
	float: left;
    margin-left: 5px;
}
.loader-white-active, .loader-sky-active {
	visibility: hidden;
    position: relative;
}
@-webkit-keyframes loading-spinner{
	from{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	to{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@-moz-keyframes loading-spinner{
	from{
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	to{
		-moz-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@-o-keyframes loading-spinner{
	from{
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	to{
		-o-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@-ms-keyframes loading-spinner{
	from{
		-ms-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	to{
		-ms-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@keyframes loading-spinner{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}
}
.loader-white-active:before {
	content: '...';
    position: absolute;
    top:50%;
    left:50%;
    width:16px;
    height:16px;
    margin-top:-8px;
    margin-left:-8px;
    visibility: visible;
	z-index: 1;
	background-image:url("../image/loader-white.svg");
    -webkit-animation: loading-spinner 0.7s linear infinite;
	-moz-animation: loading-spinner 0.7s linear infinite;
	-o-animation: loading-spinner 0.7s linear infinite;
	-ms-animation: loading-spinner 0.7s linear infinite;
    animation: loading-spinner 0.7s linear infinite;
    content: ' ';
}
.loader-sky-active:before {
	content: '...';
    position: absolute;
    top:50%;
    left:50%;
    width:16px;
    height:16px;
    margin-top:-8px;
    margin-left:-8px;
    visibility: visible;
	z-index: 1;
	background-image:url("../image/loader-sky.svg");
    -webkit-animation: loading-spinner 0.7s linear infinite;
	-moz-animation: loading-spinner 0.7s linear infinite;
	-o-animation: loading-spinner 0.7s linear infinite;
	-ms-animation: loading-spinner 0.7s linear infinite;
    animation: loading-spinner 0.7s linear infinite;
    content: ' ';
}
.search-loader {
	position: absolute;
    z-index: 10;
    top: 50%;
    right: 8px;
    width: 16px;
    height: 16px;
    margin-top: -8px;
}
.Polaris-Connected__Item {
	z-index: 21;
}
.keyboard-container {
	position: relative;
	width: 100%;
    display: block
}
.keyboard-container .Polaris-KeyboardKey {
	position: absolute;
	top: 18px;
    right: 4px;
    margin-top: -13px;
    z-index: 20;
    display: inline-block;
    width: 88px;
}
.is_number {
	right: 22px;
}
#inventory-root .search-input {
	width: 100%;
}
.app-main-class .regular-grid .Polaris-ResourceList {
	max-height: 516px;
    overflow: auto;
}
.app-main-class .specific-grid .Polaris-ResourceList {
	max-height: 339px;
    overflow: auto;
}
@media only screen and (max-width: 1024px) {
	.add-new-product-btn {
		float: right;
		width: 100%;
		text-align: right;
		margin-top: 10px;
	}
	.search-input {
		width: 100%;
	}
}