.dn{
    display: none !important;
}
body.login .mt50px{
    margin-top: 50px;
}
body.login .make-logo-center{
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    padding: 15px;
}
body.login .Polaris-Layout__Section{
    min-width: unset;
}
body.login .Polaris-Layout__AnnotatedSection, .Polaris-Layout__Section{
    max-width: calc(100% - 55rem) !important;
}
body.login .Polaris-Layout__Section .Polaris-Card__Section .Polaris-Button.Polaris-Button--primary{
    margin-top: 15px;
    width: 100%;
}
body.login .Polaris-Layout__Section .Polaris-Card .Polaris-Card__Section{
    box-shadow: inset 0 3px 0 0 #4959bd, inset 0 0 0 0 transparent, 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
}
@media (max-width: 768px){
    body.login .Polaris-Layout__Section{
        min-width: 51%;
    }
    body.login .Polaris-Layout__AnnotatedSection, .Polaris-Layout__Section{
        max-width: calc(100% - 2rem) !important;
    }
}