/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #1c2b36;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
		background-color: #1c2b36;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
.cb {
	clear: both;
}
.success {
	color: green;
}
.error {
	color: red;
	font-size: 13px;
    padding-right: 6px;
}
.dn {
	display: none;
}
.fa-spin.dn
{
display: none;
}
.color-display-admin {
	width: 30px;
	height: 30px;
	content: ' ';
	margin: 0 auto;
}
.blink_me {
  animation: blinker 2s linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0.0; }
}
.pointer {
	cursor: pointer;
}
.mb20px {
	margin-bottom: 20px;
}
a, a:hover, a:focus, a:active {
	text-decoration: none;
}
hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
.initial-caps {
	text-transform: capitalize;
}
.tac {
	text-align: center;
}
.tar {
	text-align: right;
}
.status {
	margin-left: 14px;
}
.vendor-paid {
	cursor: pointer;
}
.dashboard-summary ul li h2 {
	margin-bottom: 0;
}
.dashboard-summary ul li {
	display: inline-block;
	text-align: center;
	margin-right: 25px;
	border: 1px solid #808c94;
	padding: 15px 25px;
	min-width: 210px;
	max-width: 100%;
	border-radius: 3px;
	box-shadow: 0px 0px 10px #d1d1d1;
}
.dashboard-summary ul li h2 {
	margin-top: 0;
}
.view-all {
	cursor: pointer;
}
.txt-comment {
	width: 100%;
	height: 90px;
}
li.left-side {
	text-align: left;
}
li.right-side {
	text-align: left;
}
li.right-side strong {
	color: #55b1e9;
}
ul.old-comments {
	max-height: 250px;
	overflow: auto;
	list-style: none;
	margin-top: 22px;
	margin-left: 0;
	padding-left: 5px;
	padding-right: 5px;
}
ul.old-comments li {
	display: block;
	border-top: 1px solid #efefef;
	padding: 10px 0;
}
.cursor-pointer {
	cursor: pointer;
}
.colorPicker {
    position: relative;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.5);
    -o-box-shadow: 0 0 1px rgba(0,0,0,0.5);
    -ms-box-shadow: 0 0 1px rgba(0,0,0,0.5);
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
}
.row .step-1-design.margin {
	margin-top: 80px;
}
.adjust-colors {
	text-align: center;
	margin-top: 20px;
}
.product-details {
    background-color: #f5f6f7;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    float: left;
    width: 100%;
    padding: 20px;
}
.visibility {
	background-color: #f5f6f7;
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	float: left;
    width: 100%;
}
.visibility h2 {
	font-size: 18px;
    padding: 20px;
    margin: 0;
}
.visibility .checkbox-div {
	border-top: 1px solid #ebeef0;
	padding: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.visibility .checkbox-div label {
	font-weight: 400;
	cursor: pointer;
}
.visibility.organization {
	margin-top: 25px;
}
.visibility.organization .types {
	border-top: 1px solid #ebeef0;
	padding: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.container-variants {
    border: 1px solid #ebeef0;
    float: left;
    padding: 10px 0;
    margin-bottom: 15px;
    width: 100%;
}
.mt5px {
	margin-top: 5px;
}
.mt15px {
    margin-top: 15px;
}
.mb15px {
	margin-bottom: 15px;
}
.m0px {
	margin: 0;
}
.product-details label, .organization label {
	cursor: pointer;
}
.mw160px {
	max-width: 160px;
}
.mw220px {
	max-width: 220px;
}
#frm_shopify_product .form-control.error, #frm_shopify_product .form-control.error:focus {
	border: 1px solid red;
}
.color-management input[type="text"], .color-management select, .artist-management input[type="text"] {
	padding: 2px 5px;
}
.color-management select {
	cursor: pointer;
}
.color-management .mw110px {
	max-width: 110px;
}
.navbar-brand {
	padding: 0px 24px;
}
.dmlm15px {
	margin-left: -15px;
}
.w100per {
	width: 100%;
}
.w50px {
	width: 50px;
}
.w150px {
	width: 150px;
}
.w180px {
	width: 180px;
}
a {
	cursor: pointer;
}
.manage-td td {
	padding: 8px 0;
}
.bb1px {
	border-bottom: 1px solid #000;
	font-size: 20px;
}
.order-now {
	cursor: pointer;
}
.btn-new-fix
{
	position: fixed;
    right: 25px;
    z-index: 1;	
}
.mt20px
{
	margin-top: 20px;		
}
.w50px
{
	width:50px;
}
.w65px
{
	width:65px;
}
.txtUpper
{
	text-transform:uppercase;
}
.sorting-order
{
	cursor:pointer;	
}
.black_overlay{ display: block; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index:1001; -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80);}

.white_content { display: block; position: absolute; top: 33%; left: 45%; width: 50%; height: 50%; padding: 16px; z-index:1002; overflow: auto;}
.ringback
{
	background:url('../image/ring.gif') no-repeat center center;  
	background:url('../image/ring.svg') no-repeat center center;
	height:64px;
	width:64px;
}
.product-shipping-dropdwn
{
	width:95%;	
}
.w-100px
{
	width:100px;	
}
.w-202px
{
	width:202px;
}
.w-72px
{
	width:72px;
}
.dib
{
	display:inline-block;
}
.w-300px
{
	width:300px;
}
.fl
{
	float:left;		
}
.fr
{
	float:right;		
}
.mr-l-430px
{
	margin-left:430px;
}
.back-like-bredcrm
{
	background-color:#F5F5F5;
}
.export-select-adjust
{	
    display: inline;
    float: right;
	width:200px;	
}
.adjust-new-add
{
	float: right;
    margin: 0;
}
#tbl_orders th
{
	text-align:center;
}
/* Logo Design Start */
.navbar-brand {
	padding: 10px 13px 15px 12px;
}
.navbar-inverse {
	background-color: #fff;
	border-color: #e4e6e7;
	box-shadow: 0 0 6px #d1d1d1;
}
.top-nav>li>a {
	color: #555555;
}
.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
	color: #555555;
	background-color: #fff;
}
#dvProcessInfo {
	margin-bottom: 10px;
}
/* Logo Design End */
.faq ol li {
	font-size: 24px;
	position: relative;
	display: inline-block;
}
.faq ol li:before {
    font-size: 24px;
    content: '\f0a4';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    top: 3px;
    left: -35px;
}
.faq ol li h3 {
	margin-top: 7px;
}
.faq ol li p {
	font-size: 14px;
	margin-bottom: 20px;
}
.rdo-top + label, .rdo-top-disabled {
	background: transparent;
	color: #000;
    width: 55px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #2d76ad;
	cursor: pointer;
	font-size: 12px;
}
.rdo-bottom + label, .rdo-bottom-disabled {
    background: transparent;
	color: #333;
	width: 55px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	border-radius: 0 4px 4px 0;
	margin-left: -4px;
	border: 1px solid #2d76ad;
	cursor: pointer;
	font-size: 12px;
}
.rdo-top:checked + label, .rdo-bottom:checked + label, .rdo-bottom-disabled.active {
	background: #2d76ad;
    color: #fff;
}
.rdo-top, .rdo-bottom {
	display: none;
}
.inline-block {
	display: inline-block;
}
.custom-note {
	font-size: 13px;
}
/* Inventory Warning Levels Start */
.normal-font {
    font-size: 16px;
	font-weight: 400;
}
.search-product {
    float: left;
    width: 20%;
}
.additional-exclude-class {
    width: 80%;
}
.add-on .input-group-btn > .btn {
    border-left-width: 0;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
a {
    cursor: pointer;
}
.btn-primary.add-new {
    border: 0;
}
.adjust-products-variants {
	border-left: 1px solid #d1d1d1;
	padding-bottom: 30px;
	margin-left: -1px;
}
.adjust-products-variants h4 {
	line-height: 1.3em;
	margin-bottom: 30px;
	font-weight: bold;
}
.table .vertical-middle {
	vertical-align: middle;
}
.product-grid {
	margin-top: 30px;
}
.product-grid img, .border-radius img {
	border: 1px solid #e5e5e5;
	border-radius: 8px;
}
#new-product-add.form-control:focus {
	box-shadow: none;
	border-color: #ccc;
}
#new-product-add.error, #new-product-add.error.form-control:focus {
    border-color: #337ab7;
    color: #337ab7;
}
#new-product-add.error + [for="new-product-add"] {
	display: none !important;
}

/* Inventory Warning Levels End */
/* Checkout our other apps section Start */
.br1pxsolid {
	border-right: 1px solid #d1d1d1;
	padding-bottom: 30px;
}
.checkout-apps-region {
	text-align: center;
	border-top: 1px solid #d1d1d1;
	padding-top: 30px;
}
.checkout-apps-region-free {
	text-align: center;
	padding-top: 30px;
}
.checkout-apps-region h4 {
	margin-bottom: 15px;
}
.checkout-apps-region-free h4 {
	margin-bottom: 15px;
}
.checkout-apps-region ul.list-apps {
    margin: 0 0 50px 0;
    padding: 0;
    list-style: none;
}
.checkout-apps-region-free ul.list-apps {
    margin: 0 0 50px 0;
    padding: 0;
    list-style: none;
}
.checkout-apps-region ul.list-apps li {
    display: inline-block;
	margin-top: 15px;
}
.checkout-apps-region-free ul.list-apps li {
    display: inline-block;
	margin-top: 15px;
}
.checkout-apps-region ul.list-apps li a {
    border: 1px solid #e8e8e8;
    margin-right: 15px;
    display: inline-block;
    box-shadow: 0px 0px 5px 0px #2d76ad;
}
.checkout-apps-region-free ul.list-apps li a {
    border: 1px solid #e8e8e8;
    margin-right: 15px;
    display: inline-block;
    box-shadow: 0px 0px 5px 0px #2d76ad;
}
.checkout-apps-region ul.list-apps li a img {
    max-width: 100%;
}
.checkout-apps-region-free ul.list-apps li a img {
    max-width: 100%;
}
.di-mr-5px
{
	display : inline-block;
	margin-right: 5px;
}
.db
{
	display : block;
}
.cp
{
	cursor : pointer;
}
.dn
{
	display : none;
}
.iwl {
	cursor: pointer;
	text-decoration: none;
    border-bottom: 1px dashed;
	font-weight: normal;
}
/* Footer Start */
.action-box {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
	left: 225px;
	width: 85%;
	width: calc(100% - 225px);
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 5px #d1d1d1;
    z-index: 1000;
}
#msg_notification.action-box {
    background-color: #fff;
	padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    bottom: 0;
    left: 225px;
    width: 85%;
	width: calc(100% - 225px);
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 5px #d1d1d1;
    z-index: 1000;
}
#msg_notification .alert{
	padding: 16px;
}
.action-box.adjust-padding {
	padding-top: 0;
    padding-bottom: 0;
}
.ml25px {
	margin-left: 25px;
}
.f30px
{
	font-size: 18px;
    margin-left: 10px;	
}
.inpt-holder
{
	color: #EF4280;
    font-size: 18px;
    margin: 5px 0;
}
.inpt-holder i.temp_ml_5px
{
	margin-left: 5px;
}
.top-nav>li>a.top-btn{
	line-height: 0.3em;
    top: 6px;
    color: #fff;
}
.top-nav>li>a.top-btn:hover{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.top-nav>li>a.top-btn:focus{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
#msg_notification .temp-aff-cls{
	padding: 8px;
}
#msg_notification.action-box{
	left: 225px;
}
/* Footer End */

.main-setting-h1 label.f14px{
	font-size: 14px;
}
.main-setting-h1 .di{
	display: inline-block;
}
.main-setting-h1 .rdo-bottom + label, .main-setting-h1 .rdo-bottom-disabled{
	margin-left: -10px;
}
.main-setting-h1 .rdo-bottom + label, .main-setting-h1 .rdo-bottom-disabled{
	width: 65px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.main-setting-h1 .rdo-top + label, .main-setting-h1 .rdo-top-disabled {
	width: 65px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.mb25px{
	margin-bottom: 25px;
}

/* Login Page Loader Start */
.login {
	background-color: #f5f7f7;
}
.login .content .login-form {
	padding: 0px;
	margin: 0px;
}
.login .content .form-title {
	font-weight: 300;
	margin-bottom: 25px;
}
.login .content h3 {
	color: #000;
}
.control-label {
	margin-top: 1px;
}
.login .logo {
	margin: 0 auto;
	margin-top: 60px;
	padding: 15px;
	text-align: center;
}
.login .logo img {
	width: 236px;
	height: auto;
}
.login .content {
	background-color: #fff;
	width: 360px;
	margin: 0 auto;
	margin-bottom: 0px;
	padding: 30px 30px 20px;
	background-color: #fff;
    box-shadow: inset 0 3px 0 0 #4959bd, inset 0 0 0 0 transparent, 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
}
.login .content .input-icon {
	border-left: 2px solid #4959bd;
}
.input-icon {
	position: relative;
}
.login .content .input-icon .form-control { 
	border-left: 0;
}
.input-icon > .form-control {
	padding-left: 33px;
}
.form-control {
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	background-color: white;
	border: 1px solid #e5e5e5;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.login .content .form-actions {
	background-color: #fff;
	clear: both;
	border: 0px;
	padding: 0px 30px 0 30px;
	margin-left: -30px;
	margin-right: -30px;
}
.login .content .form-actions .btn {
	margin-top: 1px;
}
.green.btn {
    background: linear-gradient(to bottom, #6371c7, #5563c1);
    border-color: #3f4eae;
    color: #ffffff;
    box-shadow: inset 0 1px 0 0 #6f7bcb;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.green.btn:hover {
    background: linear-gradient(to bottom, #5c6ac4, #4959bd);
    border-color: #3f4eae;
    color: #ffffff;
}
.btn {
	border-width: 0;
	padding: 7px 14px;
	font-size: 14px;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}
.input-icon > i {
	color: #ccc;
	display: block;
	position: absolute;
	margin: 11px 2px 4px 10px;
	z-index: 3;
	width: 16px;
	height: 16px;
	font-size: 16px;
	text-align: center;
}
@-ms-keyframes spin{
	0% {
		-ms-transform:rotate(0);
		transform:rotate(0)
	}
	100% {
		-ms-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}
@-o-keyframes spin{
	0% {
		-o-transform:rotate(0);
		transform:rotate(0)
	}
	100% {
		-o-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}
@-moz-keyframes spin{
	0% {
		-moz-transform:rotate(0);
		transform:rotate(0)
	}
	100% {
		-moz-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}
@-webkit-keyframes spin{
	0% {
		-webkit-transform:rotate(0);
		transform:rotate(0)
	}
	100% {
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg)
	}
}
.login-loader-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f4f6f8;
	z-index: 500;
}
.login-loader-position {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -150%);
}
.login-loader {
	transition: all 1s ease-in-out;
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    width: 80px;
    height: 80px;
}
.login-loader svg {
	width: 80px;
    height: 80px;
}
.login-loader svg circle {
	stroke: #47c1bf;
    stroke-dasharray: 100%;
    stroke-width: 2px;
    stroke-linecap: round;
    fill: none;
}
/* Login Page Loader End */

@media screen and (max-width: 1400px) {
	.search-product {
		display: none;
	}
	.additional-exclude-class {
		width: 100%;
	}
}

@media screen and (max-width: 1199px) {
	.br1pxsolid {
		border-right: 0;
		border-bottom: 1px solid #d1d1d1;
		padding-bottom: 25px;
		margin-bottom: 25px;
	}
}
/* Checkout our other apps section End */
@media screen and (max-width: 767px) {
	body {
		margin-top: 40px;
	}
	.navbar-inverse .navbar-toggle .icon-bar {
		background-color: #000;
	}
    .dmlm15px {
		margin-left: 0;
	}
	div .mmb15px {
		margin-bottom: 15px;
	}
	div .mmb15px:last-child {
		margin-bottom: 0;
	}
	.mp0px {
		padding: 0;
	}
	#page-wrapper {
		padding-bottom: 25px;
	}
	.adjust-products-variants {
		border-left: 0;
		padding-bottom: 0;
		margin-left: 0;
	}
	.action-box, #msg_notification.action-box {
		left: 0;
		width: 100%;
	}
	.adjust-products-variants h4 {
		margin-bottom: 10px;
	}
	.btn-primary.add-new{
		margin-bottom: 10px;
	}
}